<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>
        Questionnaire MIS498
    </title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
</head> 
<header>
    <div class="header">
        <p>Welcome to...</p>
    </div>
</header> 
<body>
    <div class="container">
        <h1>Questionnaire</h1>
        <form action="http://localhost:8000/submit-form" method="POST">
            <div class="questionnaire">

                <fieldset>
                    <legend>Improve my skills</legend>
                    <label><input type="radio" name="question1" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question1" value="2">Disagree</label>
                    <label><input type="radio" name="question1" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question1" value="4">Neutral</label>
                    <label><input type="radio" name="question1" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question1" value="6">Agree</label>
                    <label><input type="radio" name="question1" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Gain new knowledge/experience</legend>
                    <label><input type="radio" name="question2" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question2" value="2">Disagree</label>
                    <label><input type="radio" name="question2" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question2" value="4" required>Neutral</label>
                    <label><input type="radio" name="question2" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question2" value="6">Agree</label>
                    <label><input type="radio" name="question2" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Test my talent/capabilities</legend>
                    <label><input type="radio" name="question3" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question3" value="2">Disagree</label>
                    <label><input type="radio" name="question3" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question3" value="4" required>Neutral</label>
                    <label><input type="radio" name="question3" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question3" value="6">Agree</label>
                    <label><input type="radio" name="question3" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Keep up with new ideas and innovations</legend>
                    <label><input type="radio" name="question4" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question4" value="2">Disagree</label>
                    <label><input type="radio" name="question4" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question4" value="4" required>Neutral</label>
                    <label><input type="radio" name="question4" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question4" value="6">Agree</label>
                    <label><input type="radio" name="question4" value="7">Strongly Agree</label>
                </fieldset>              
                <fieldset>
                    <legend>Come up with new ideas</legend>
                    <label><input type="radio" name="question5" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question5" value="2">Disagree</label>
                    <label><input type="radio" name="question5" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question5" value="4" required>Neutral</label>
                    <label><input type="radio" name="question5" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question5" value="6">Agree</label>
                    <label><input type="radio" name="question5" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Have a pleasurable work experience</legend>
                    <label><input type="radio" name="question6" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question6" value="2">Disagree</label>
                    <label><input type="radio" name="question6" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question6" value="4" required>Neutral</label>
                    <label><input type="radio" name="question6" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question6" value="6">Agree</label>
                    <label><input type="radio" name="question6" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Have fun at work</legend>
                    <label><input type="radio" name="question7" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question7" value="2">Disagree</label>
                    <label><input type="radio" name="question7" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question7" value="4" required>Neutral</label>
                    <label><input type="radio" name="question7" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question7" value="6">Agree</label>
                    <label><input type="radio" name="question7" value="7">Strongly Agree</label>
                </fieldset>                   
                <fieldset>
                    <legend>Enjoy what I am doing</legend>
                    <label><input type="radio" name="question8" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question8" value="2">Disagree</label>
                    <label><input type="radio" name="question8" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question8" value="4" required>Neutral</label>
                    <label><input type="radio" name="question8" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question8" value="6">Agree</label>
                    <label><input type="radio" name="question8" value="7">Strongly Agree</label>
                </fieldset>  
                <fieldset>
                    <legend>Feel more satisfied with my work</legend>
                    <label><input type="radio"  name="question9" value="1">Strongly Disagree</label>
                    <label><input type="radio"  name="question9" value="2">Disagree</label>
                    <label><input type="radio"  name="question9" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question9" value="4" required>Neutral</label>
                    <label><input type="radio"  name="question9" value="5">Somewhat Agree</label>
                    <label><input type="radio"  name="question9" value="6">Agree</label>
                    <label><input type="radio"  name="question9" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Have better interactions with my colleagues</legend>
                    <label><input type="radio" name="question10" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question10" value="2">Disagree</label>
                    <label><input type="radio" name="question10" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question10" value="4" required>Neutral</label>
                    <label><input type="radio" name="question10" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question10" value="6">Agree</label>
                    <label><input type="radio" name="question10" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Expand my personal/social network</legend>
                    <label><input type="radio" name="question11" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question11" value="2">Disagree</label>
                    <label><input type="radio" name="question11" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question11" value="4" required>Neutral</label>
                    <label><input type="radio" name="question11" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question11" value="6">Agree</label>
                    <label><input type="radio" name="question11" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Strengthen my affiliation to my organization</legend>
                    <label><input type="radio" name="question12" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question12" value="2">Disagree</label>
                    <label><input type="radio" name="question12" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question12" value="4" required>Neutral</label>
                    <label><input type="radio" name="question12" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question12" value="6">Agree</label>
                    <label><input type="radio" name="question12" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Feel I belong to my organization</legend>
                    <label><input type="radio" name="question13" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question13" value="2">Disagree</label>
                    <label><input type="radio" name="question13" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question13" value="4" required>Neutral</label>
                    <label><input type="radio" name="question13" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question13" value="6">Agree</label>
                    <label><input type="radio" name="question13" name="question1" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Meet others with whome I share similar interests at work</legend>
                    <label><input type="radio" name="question14" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question14" value="2">Disagree</label>
                    <label><input type="radio" name="question14" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question14" value="4" required>Neutral</label>
                    <label><input type="radio" name="question14" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question14" value="6">Agree</label>
                    <label><input type="radio" name="question14" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Make a good impressions on my colleagues</legend>
                    <label><input type="radio" name="question15" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question15" value="2">Disagree</label>
                    <label><input type="radio" name="question15" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question15" value="4" required>Neutral</label>
                    <label><input type="radio" name="question15" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question15" value="6">Agree</label>
                    <label><input type="radio" name="question15" value="7">Strongly Agree</label>
                </fieldset>  
                <fieldset>
                    <legend>Make a better contribution</legend>
                    <label><input type="radio" name="question16" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question16" value="2">Disagree</label>
                    <label><input type="radio" name="question16" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question16" value="4" required>Neutral</label>
                    <label><input type="radio" name="question16" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question16" value="6">Agree</label>
                    <label><input type="radio" name="question16" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Improve my impact of my work</legend>
                    <label><input type="radio" name="question17" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question17" value="2">Disagree</label>
                    <label><input type="radio" name="question17" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question17" value="4" required>Neutral</label>
                    <label><input type="radio" name="question17" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question17" value="6">Agree</label>
                    <label><input type="radio" name="question17" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Control the quality of my work</legend>
                    <label><input type="radio" name="question18" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question18" value="2">Disagree</label>
                    <label><input type="radio" name="question18" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question18" value="4" required>Neutral</label>
                    <label><input type="radio" name="question18" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question18" value="6">Agree</label>
                    <label><input type="radio" name="question18" value="7">Strongly Agree</label>
                </fieldset>
                <fieldset>
                    <legend>Have positive impact on other's work</legend>
                    <label><input type="radio" name="question19" value="1">Strongly Disagree</label>
                    <label><input type="radio" name="question19" value="2">Disagree</label>
                    <label><input type="radio" name="question19" value="3">Somewhat Disagree</label>
                    <label><input type="radio" name="question19" value="4" required>Neutral</label>
                    <label><input type="radio" name="question19" value="5">Somewhat Agree</label>
                    <label><input type="radio" name="question19" value="6">Agree</label>
                    <label><input type="radio" name="question19" value="7">Strongly Agree</label>
                </fieldset>
            </div>


                <button type="submit" value="end">
                    Submit Survey
                </button>
            </div>
        </form>
    </div>
</body>